/* Profile Section – מתחת ל-Hero */
.profile-section {
    padding: 60px 50px;
    display: flex;
    justify-content: center;
    background-color: #121212; /* צבע רקע אחיד */
	 padding-top: 250px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
}

/* תמונה ריבועית גבוהה יותר */
.profile-container img {
    width: 600px;      /* יותר רחב */
    height: 350px;     /* יותר גבוה */
    border-radius: 15px;
    object-fit: cover;
}

/* טקסט */
.profile-text {
    max-width: 550px;
    font-family: 'Arial', sans-serif; /* כפונט אחיד לכל האתר */
    font-size: 16px;                   /* יותר קטן ומדויק */
    line-height: 1.6;
    color: #ffffff;
}

/* וידוא שהטקסט לא ישנה פונט באמצע */
.profile-text p {
    margin: 0;
}

.profile-container:hover img {
    filter: brightness(70%);
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;       /* ממלא את כל השטח בלי לעוות */
    transform: translate(-50%, -50%);
    z-index: 1;              /* מאחורי התוכן */
}


.testimonials-section {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 60px 50px;
    text-align: center;
	background-color: #121212; /* צבע רקע אחיד */
}

.testimonials-section h2 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
}

.testimonial-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial {
    display: none;   /* ברירת מחדל – מוסתר */
    flex-direction: column;
    align-items: center;
}

.testimonial.active {
    display: flex;   /* הטסטימוניאל הנוכחי פעיל */
}

.stars {
    color: #FFD700;  /* זהב */
    font-size: 24px;
    margin-bottom: 15px;
}

.testimonial p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.client-name {
    font-weight: bold;
    font-size: 16px;
    color: #cccccc;
}
